* {
    margin: 0;
    padding: 0;
}

body {
    width: fit-content;
    margin: 0 auto;
}

.game {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.box {
    background: #ffffff;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}

.blue {
    color: blue;
    font-size: 50px;
    text-transform: uppercase;
}

.red {
    color: red;
    font-size: 50px;
    text-transform: uppercase;
}

button {
    display: block;
    width: 50vh;
    margin: 25px auto;
}

.winner {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}