*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.game {
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(163, 163, 163, 0.35);
    border: 1px solid #333;
    margin: 100px auto 0 auto;
}

.snake {
    position: absolute;
    width: 18px;
    height: 18px;
    background: aquamarine;
    border: 1px solid #333333;
}

.bait {
    position: absolute;
    width: 18px;
    height: 18px;
    background: yellow;
    border: 1px solid #333333;
}
