* {
    margin: 0;
    padding: 0;
}

.box {
    background: #ffffff;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    width: 50px;
    height: 50px;
}

.grid {
    display: grid;
}