*{
    margin: 0;
    padding: 0;
}

.game {
    display: grid;
}

.box {
    background: #ffffff;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    width: 25px;
    height: 25px;
}

.blue {
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
}

.red {
    color: red;
    font-size: 20px;
    text-transform: uppercase;
}

button {
    margin-top: 20px;
    width: 50vh;
}

.winner {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}